<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>HttpSesssionCookie</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name> alpha </servlet-name>
  	<servlet-class> com.HakuWei.HttpSession.AddServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name> alpha</servlet-name>
  	<url-pattern> /servleteception </url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name> bravo </servlet-name>
  	<servlet-class> com.HakuWei.HttpSession.SqServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name> bravo</servlet-name>
  	<url-pattern> /sq </url-pattern>
  </servlet-mapping>
  
</web-app>